@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* @font-face{font-family:RifficFree;src:local("RifficFree"),url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap")} */
@font-face{font-family:RifficFree;src:local("RifficFree"),url("../RifficFree-Bold.ttf")}

* {
  /* font-family: "Riffic Free"; */
  font-family: 'Noto Sans', sans-serif;
}
.pokes {
/* margin-top: 110px; */
}

.browser-connected {
  display: block !important;
}

.pokemon__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.deaths__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.deaths__list .deaths__pokemon .pokemon__name{
  color: #000;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  font-family: RifficFree;
  text-shadow: 1px 1px 2px #fff;
}
.deaths__list .deaths__pokemon .pokemon__image{
  display: flex;
  justify-content: center;
}
.deaths__list .deaths__pokemon .pokemon__image img{
  width: -webkit-fill-available;
}
.deaths__list .deaths__pokemon {
  max-width: 100px;
  margin-right: 20px;
}


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.deaths:has(.marquee) {
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
  padding-left: 100%;
}
.deaths .deaths__list.marquee  {
  flex-wrap: nowrap;
  flex-direction: row;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.darkMode {
  color: #fff !important;
}

.pokemon {
  height: 80px;
  margin-bottom: 18px;
}

.pokemon.isDead {
  opacity: 0.8;
}

.pokemon > div {
  height: 100%;
}

.pokemon-image__wrapper {
  width: 80px;
  height: 80px;
  border-radius: 4px 0 0 45px;
}

.pokemon .pokemon__details {
  width: 300px;
  height: 80px;
  background: #fffbe9;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-weight: bold;
  font-size: 19pt;
  justify-content: space-between;
  border-radius: 0 4px 4px 0;
  position: relative;
}
.pokemon .pokemon__details .pokemon__level{
  font-size: 80%;
  font-weight: bold;
  padding: 13px;

}
.pokemon .pokemon__details .pokemon__name{
  padding: 13px;
}

.pokemon .hp {
  height: 5px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.pokemon .exp {
  height: 5px;
  position: absolute;
  width: 100%;
  top: 0px;
}


.pokemon__list .pokemon .hp .hp__inner {
  background: #27ff00;
  transition: width 2s;
  height: 100%;
  align-self: flex-end;
  width: 12px;
}

.pokemon .exp .exp__inner {
  background-color: cyan;
  transition: width 2s;
  height: 100%;
  align-self: flex-end;
  width: 12px;

}

.pokemon__list .pokemon.isPoisoned .hp .hp__inner {
  background: purple;
}

.pokemon__list .pokemon.isParalyzed .hp .hp__inner {
  background: yellow;
}

.pokemon__list .pokemon.isFrozen .hp .hp__inner {
  background: rgb(111, 255, 255);
}

.pokemon__list .pokemon.isBurned .hp .hp__inner {
  background: #ff7d4d;
}
.pokemon .hp .hp__inner.critical {
  background: linear-gradient(to right, #d20000, #f51700);
}


.pokemon .pokemon__image {
    /* height: 100%; */
    /* display: flex; */
    height: 100%;
    width: 100%;
    left: -1%;
    position: relative;
    top: -10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.pokemon .pokemon__image .sprite {
  /* max-height: -webkit-fill-available; */
  /* padding-right: 12px; */
  /* align-self: center;
  justify-self: center; */
    height: 90%;
}

/* transitions stuffs */
.switchSlow-move {
    transition: transform 2s;
}

.switchMedium-move {
    transition: transform 1s;
}

.switchFast-move {
    transition: transform 0.5s;
}

@keyframes takeDamage {
  0% {
    -webkit-filter: none;
    filter: none;
  }
  50% {
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  100% {
    -webkit-filter: none;
    filter: none;
  }
}

@keyframes poisoned {
  0% {
    -webkit-filter: none;
    filter: none;
  }
  50% {
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-106deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-106deg) saturate(600%) contrast(0.8);
  }
  100% {
    -webkit-filter: none;
    filter: none;
  }
}

@keyframes shake {
  10%, 90% {
    transform: scale(2) translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: scale(2) translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: scale(2) translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: scale(2) translate3d(4px, 0, 0);
  }
}


.sleeping {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -50px;
  left: 94%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}

.sleeping span {
  font-family: "RifficFree";
  color: #d4d4d4;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 23pt;
  opacity: 0;
  -moz-animation: sleep 9s infinite linear;
  -webkit-animation: sleep 9s infinite linear;
  animation: sleep 9s infinite linear;
}
.sleeping span:nth-child(2n) {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.sleeping span:nth-child(3n) {
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

@-webkit-keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
@-moz-keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
@-ms-keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
@keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
