assets/sprites/**
assets/test/**
sprites/**
ai/**
./updates.json
dist/**
download/**
roms/**
test/**
themes/**commission**
themes/**comission**
themes/custom_*/**
themes/custom**
themes/jester/**
themes/jez-cas-soul-link/**
themes/kyu-foul-cagelocke/**
themes/pikaboo/
themes/assets/themes.js
