    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: transparent !important;
    }
    body {
        /*background-color: #ccc !important;*/
    }

    @font-face{font-family:PokemonGB;src:local("Pokemon GB"),url("/assets/fonts/Pokemon%20GB.ttf")}

    .pokemon__slot {
        float: left;
        width: 15vw;
        height: 100vh;
        min-height: 100vh;
        margin-left: 1.5vw;
        background: url('/assets/pokeball.png') no-repeat;
        background-position: center;
        background-size: 150vh;
        color: black;
        border: 10px solid #000000;
    }

    .pokemon__slot.type_border {
        border: 10px solid transparent;
    }

    .pokemon__empty {
        filter: grayscale(0);
    }

    .pokemon__info {
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        position: absolute;
        bottom: 10px;
        width: 14.2vw;
    }

    .pokemon__image {
        height: 65vh;
        position: relative;
        white-space: nowrap;
        transform: scale(3);
        z-index: 10;
    }

    .pokemon__image.pokemon__egg img{
        max-height: 80px;
    }

    .pokemon__image img{
        filter: grayscale(0);
        transition: grayscale 0.5s;
    }

    .pokemon__image.pokemon__dead img{
        filter: grayscale(1);
    }

    .pokemon__image img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    .pokemon__nick-shiny {
        color: red;
    }

    .pokemon__level-bar, .pokemon__nick, .pokemon__dead-label {
        font-size: 2.5rem;
        font-family: "PokemonGB";
    }

    .pokemon__status {
    }

    .pokemon__hp {
        text-align: right;
    }


    .pokemon__dead-label {
        text-align: center;
    }

    .progress-bar, .progress {
        border-radius: 0px;
        margin-bottom: 0;
    }

    .progress-bar.grey { background: #646464; }
    .progress-bar.green { background: #61df8f; }
    .progress-bar.yellow { background: #d9bc19; }
    .progress-bar.red { background: #c02020; }

    .pokemon__bar {
        padding: 10px;
        position: relative;
        top: 10px;
        min-height: 20px;
        margin: 0 0 -10px 0;
        transform: scale(1.5);
        left: 60px;
    }

    .pokemon__bar > span {
        color: white;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
        border-radius: 4px;
        box-shadow: 0 1px 0 1px rgba(0,0,0,0.4);
        padding: 5px 10px;
        margin-right: 5px;
    }

    .pokemon__gender {
        -webkit-font-smoothing: antialiased;
    }
    .pokemon__gender-female {
        /*background-color: red;*/
        background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    }
    .pokemon__gender-male{
        /*background-color: blue;*/
        background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    }


    .badges {}
    .badge__slot {
        display: block;
        float: left;
    }

    .badge__slot img {
        width: 100px;
    }
    .badge__slot--inactive img {
        -webkit-filter: grayscale(100%) brightness(0);
        filter: grayscale(100%) brightness(0);
        opacity: 0.6;
    }

    /* transitions stuffs */
    .switchSlow-move {
        transition: transform 2s;
    }

    .switchMedium-move {
        transition: transform 1s;
    }

    .switchFast-move {
        transition: transform 0.5s;
    }
