.pokes {
margin-top: 110px;
}

.browser-connected {
  display: block !important;
}

.badges {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.badges {}
    .badge__slot {
        display: block;
    }

    .badge__slot img {
        width: 100px;
    }
    .badge__slot--inactive img {
        -webkit-filter: grayscale(100%) brightness(0);
        filter: grayscale(100%) brightness(0);
        opacity: 0.6;
    }
    body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; } .badge__slot {max-height: 100%;} .badge__slot img { max-height:100%; width: auto;}
.pokemon__list {
  /* display: grid; */
  width: 100%;
  /* grid-template-columns: repeat(6, 128px); */
  /* grid-template-rows: repeat(1, 115px); */
  /* column-gap: 20px; */
  display: block;
  position: relative;
}

.pokemon__list .pokemon.isDead {
  filter: grayscale(1);
}

.pokemon.card {
  position: relative;
  margin-bottom: 100px;
}

.pokemon.card.flat {
  top: 0px !important;
}

.pokemon.card:nth-child(even) {
  top: 51px;
}

.flipped .pokemon.card:nth-child(even) {
  top: 0px
}

.flipped .pokemon.card:nth-child(odd) {
  top: 51px
}

.pokemon__list > .pokemon {
  border: 3px solid white;
}

.pokemon {
  display: inline-block;
  width: 270px;
  /* height: 152px; */
  height: 130px;
  background-position-x: -38px;
  background-position-y: -78px;
  background-repeat: no-repeat;
  background-size: 350px auto;
  margin-right: 22px;
  background-color: white;
}

.pokemon__list .pokemon .pokemon {
  overflow: hidden;
  margin-top: 1px;
  position: absolute;
  margin-left: 1px;
  width: 268px;
}

.heldItem {
  position: absolute;
  top: -50px;
  background-color: white;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-left: -4px;
}

.heldItem img {
  width: 100%;
}

.flipped .heldItem {
  right: 0;
}

.pokemon__name {
  position: absolute;
  width: 100%;
  top: 142px;
  background: white;
  padding: 10px 5px;
  font-family: "Pokemon GB";
  font-weight: bold;
  font-size: larger;
  width: 266px;
  text-align: center;
  /* left: 0px; */
  margin-left: -4px;
  height: 19px;
}

.pokemon__list > .pokemon {
    border: 3px solid white;
    /* border-style: inset; */
}
.pokemon__list .pokemon .hp {
  width: 80%;
  bottom: 6px;
  height: 12px;
  position: absolute;
  left: 10px;
  border: 4px solid rgba(0,0,0,0.4);
}

.pokemon__list .pokemon .hp .hp__inner {
  background: linear-gradient(to right, lime, #8bf500);
  transition: width 2s;
  height: 100%;
}

.pokemon .hp .hp__inner.low {
  background: linear-gradient(to right, #ffcc00, #f1f500);
}
.pokemon .hp .hp__inner.critical {
  background: linear-gradient(to right, #d20000, #f51700);
}

.pokemon__list .pokemon .pokemon__details {
  display: block;
}

.pokemon__list .pokemon .pokemon__details .details__name {
  font-weight: bold;
  color: #c0c0c0;
}

.pokemon__list .pokemon .pokemon__details .details__hp {
  border: 1px solid #000000;
  height: 5px;
  width: 100%;
}

.pokemon__list .pokemon .pokemon__details .details__hp .hp__bar {
  background-color: #ff0000;
  height: 5px;
}

/* transitions stuffs */
.switchSlow-move {
    transition: transform 2s;
}

.switchMedium-move {
    transition: transform 1s;
}

.switchFast-move {
    transition: transform 0.5s;
}