.arrow {
    position: absolute;
    left: 0;
    top: 50%;
    width: 36px;
    height: 36px;
    -webkit-animation: boing 0.8s ease infinite;
            animation: boing 0.8s ease infinite;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    pointer-events: none;
  }
  .arrow svg {
    position: absolute;
    width: 36px;
    left: 0;
    top: 0;
    -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
    -webkit-animation: smoosh 0.7s ease infinite;
            animation: smoosh 0.7s ease infinite;
  }

  .pokes {
    display: block;
    flex: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }

  .pokemon {
    /*background: linear-gradient(45deg, #d2ffde, #ceefff, #ded1ff);*/
    float: left;
    text-align: center;
    position: relative;
    width: 180px;
    min-width: 150px;
    margin: 10px;
    max-height: 256px;
  }
  .pokemon * {
    vertical-align: middle;
  }
  .pokemon label {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 1;
    cursor: pointer;
  }
  .pokemon .radio {
    position: absolute;
    opacity: 0;
  }
  .pokemon .lvl {
    color: #666;
    position: absolute;
    left: 14px;
    top: 12px;
    font-weight: 400;
    font-size: 18px;
  }
  .pokemon .sex {
    position: absolute;
    right: 14px;
    top: 11px;
  }
  .pokemon .sex .icon {
    width: 18px;
  }
  .pokemon .sex .icon.female {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pokemon .sprite {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .pokemon .details {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
  }
  .pokemon .details .name {
    font-size: 20px;
    font-weight: 400;
    color: #222;
    margin: 4px 0;
    display: inline-block;
  }
  .pokemon .details .hp {
    width: 60%;
    margin: auto;
  }
  .pokemon .details .hp .text {
    color: #666;
    display: inline-block;
    padding-top: 4px;
    font-size: 14px;
  }
  .pokemon .details .hp .bar {
    border-radius: 50px;
    background: #073fa7;
    border: 3.5px solid #00a3e2;
    height: 11px;
    overflow: hidden;
  }
  .pokemon .details .hp .bar .health {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, lime, #8bf500);
    transition: width 2s;
  }
  .pokemon .details .hp .bar .health.low {
    background: linear-gradient(to right, #ffcc00, #f1f500);
  }
  .pokemon .details .hp .bar .health.critical {
    background: linear-gradient(to right, #d20000, #f51700);
  }
  .pokemon .pokeball {
    position: absolute;
    fill: white;
    opacity: 0.5;
    transition: all 0.5s ease;
    width: 76%;
    left: 12%;
    top: 47%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .pokemon .cell {
    transition: all 0.2s ease;
  }
  .pokemon .cell .bg {
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
    transition: all 1.15s ease;
  }
  .pokemon .cell .stroke {
    stroke: white;
    stroke-width: 4px;
  }
  .pokemon:after {
    content: "";
    display: block;
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 2px;
    height: 180px;
    border-radius: 100% 100% 70% 70% / 70% 70% 20% 20%;
    background: transparent;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    z-index: -2;
  }
  .pokemon.selected:after {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }
  .pokemon.selected .cell {
    -webkit-filter: drop-shadow(0px 2px 6px white);
            filter: drop-shadow(0px 2px 6px white);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .pokemon.selected .cell .bg {
    fill: rgba(255, 246, 146, 0.9);
    fill: url(#bg-gradient-selected) !important;
  }
  .pokemon.selected .pokeball {
    opacity: 0.8;
  }
  .pokemon.selected .sprite {
    -webkit-animation: bounce 0.8s ease infinite;
            animation: bounce 0.8s ease infinite;
  }

  .button {
    position: relative;
    background: white;
    border: 2px solid #ffc55b;
    border-radius: 10px;
    min-height: 30px;
    vertical-align: middle;
    padding: 0 20px;
    outline: none !important;
    cursor: pointer;
    font-size: 18px;
  }
  .button:after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: white;
    border-radius: 13px;
    z-index: -1;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.2);
  }
  .button:hover {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    border-color: white;
  }
  .button:hover:after {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    box-shadow: 0 0 5px 2px white, 0 0 15px #ffe9c1, 0 3px 5px -2px rgba(0, 0, 0, 0.2);
  }

  @-webkit-keyframes boing {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
              transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
    }
  }

  @keyframes boing {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
              transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
    }
  }
  @-webkit-keyframes bounce {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
              transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
    }
  }
  @keyframes bounce {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
              transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
    }
  }
  @-webkit-keyframes float {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    50% {
      -webkit-transform: translateY(-57%) translateX(-50%);
              transform: translateY(-57%) translateX(-50%);
    }
  }
  @keyframes float {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    50% {
      -webkit-transform: translateY(-57%) translateX(-50%);
              transform: translateY(-57%) translateX(-50%);
    }
  }
  body, html {
    min-height: 100%;
    text-align: center;
  }

  h1 {
    display: inline-block;
    font-size: 60px;
    margin: 10px;
    color: #805cff;
    font-weight: 900;
  }

  body {
    color: black;
    font-family: "Heebo", sans-serif;
/*
    background: red;
    background: linear-gradient(45deg, #d2ffde, #ceefff, #ded1ff);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
*/  }


    /* transitions stuffs */
    .switchSlow-move {
        transition: transform 2s;
    }

    .switchMedium-move {
        transition: transform 1s;
    }

    .switchFast-move {
        transition: transform 0.5s;
    }
