.arrow {
    position: absolute;
    left: 0;
    top: 50%;
    width: 36px;
    height: 36px;
    -webkit-animation: boing 0.8s ease infinite;
            animation: boing 0.8s ease infinite;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    pointer-events: none;
  }
  .arrow svg {
    position: absolute;
    width: 36px;
    left: 0;
    top: 0;
    -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
    -webkit-animation: smoosh 0.7s ease infinite;
            animation: smoosh 0.7s ease infinite;
  }

  .pokes {
    display: block;
    flex: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }

  .pokemon {
    /*background: linear-gradient(45deg, #d2ffde, #ceefff, #ded1ff);*/
    float: left;
    text-align: center;
    position: relative;
    width: 180px;
    min-width: 150px;
    margin: 10px;
    max-height: 256px;
  }
  .pokemon * {
    vertical-align: middle;
  }
  .pokemon label {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 1;
  }
  .pokemon .radio {
    position: absolute;
    opacity: 0;
  }
  .pokemon .lvl {
    color: #666;
    position: absolute;
    left: 14px;
    top: 12px;
    font-weight: 400;
    font-size: 18px;
  }
  .pokemon .sex {
    position: absolute;
    right: 14px;
    top: 11px;
  }
  .pokemon .sex .icon {
    width: 18px;
  }
  .pokemon .sex .icon.female {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pokemon .sprite {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .pokemon .details {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
  }
  .pokemon .details .name {
    font-size: 20px;
    font-weight: 400;
    color: #222;
    margin: 4px 0;
    display: inline-block;
  }
  .pokemon .details .hp {
    width: 60%;
    margin: auto;
  }
  .pokemon .details .hp .text {
    color: #666;
    display: inline-block;
    padding-top: 4px;
    font-size: 14px;
  }
  .pokemon .details .hp .bar {
    border-radius: 50px;
    background: #073fa7;
    border: 3.5px solid #00a3e2;
    height: 11px;
    overflow: hidden;
  }
  .pokemon .details .hp .bar .health {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, lime, #8bf500);
    transition: width 2s;
  }
  .pokemon .details .hp .bar .health.low {
    background: linear-gradient(to right, #ffcc00, #f1f500);
  }
  .pokemon .details .hp .bar .health.critical {
    background: linear-gradient(to right, #d20000, #f51700);
  }
  .pokemon .pokeball {
    position: absolute;
    fill: white;
    opacity: 0.5;
    transition: all 0.5s ease;
    width: 76%;
    left: 12%;
    top: 47%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .pokemon .cell {
    transition: all 0.2s ease;
  }
  .pokemon .cell .bg {
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
    transition: all 1.15s ease;
  }
  .pokemon .cell .stroke {
    stroke: white;
    stroke-width: 4px;
  }
  .pokemon:after {
    content: "";
    display: block;
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 2px;
    height: 180px;
    border-radius: 100% 100% 70% 70% / 70% 70% 20% 20%;
    background: transparent;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    z-index: -2;
  }
  .pokemon.selected:after {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }
  .pokemon.selected .cell {
    -webkit-filter: drop-shadow(0px 2px 6px white);
            filter: drop-shadow(0px 2px 6px white);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .pokemon.selected .cell .bg {
    fill: rgba(255, 246, 146, 0.9);
    fill: url(#bg-gradient-selected) !important;
  }
  .pokemon.selected .pokeball {
    opacity: 0.8;
  }
  .pokemon.selected .sprite {
    -webkit-animation: bounce 0.8s ease infinite;
            animation: bounce 0.8s ease infinite;
  }

  .button {
    position: relative;
    background: white;
    border: 2px solid #ffc55b;
    border-radius: 10px;
    min-height: 30px;
    vertical-align: middle;
    padding: 0 20px;
    outline: none !important;
    cursor: pointer;
    font-size: 18px;
  }
  .button:after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: white;
    border-radius: 13px;
    z-index: -1;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.2);
  }
  .button:hover {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    border-color: white;
  }
  .button:hover:after {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    box-shadow: 0 0 5px 2px white, 0 0 15px #ffe9c1, 0 3px 5px -2px rgba(0, 0, 0, 0.2);
  }

  .candy {
    display: block;
    position: absolute;
    top: 52%;
    left: 55%;
    height: 12px;
    width: 12px;
    transform: scale(1);
    margin: 12px;
  }

  .candy:after {
    content: "";
    display: block;
    height: 1px;
    width: 1px;
    box-shadow: 0px 5px #000000,0px 6px #000000,0px 7px #000000,1px 8px #000000,3px 9px #000000,2px 9px #000000,4px 10px #000000,5px 10px #000000,6px 11px #000000,7px 11px #000000,8px 11px #000000,9px 10px #000000,10px 9px #000000,10px 8px #000000,10px 7px #000000,10px 6px #000000,10px 5px #000000,10px 4px #000000,10px 3px #000000,9px 2px #000000,8px 1px #000000,7px 1px #000000,6px 1px #000000,5px 2px #000000,4px 2px #000000,3px 3px #000000,2px 3px #000000,1px 4px #000000,8px 2px #ffffff,7px 2px #ffffff,6px 3px #ffffff,7px 3px #ffffff,8px 3px #ffffff,9px 3px #ffffff,8px 4px #ffffff,6px 2px #fff69c,5px 3px #fff69c,4px 3px #fff69c,4px 4px #fff69c,2px 4px #fff69c,3px 5px #fff69c,6px 4px #fff69c,9px 5px #fff69c,9px 7px #fff69c,6px 8px #fff69c,3px 4px #fff6e6,2px 5px #fff6e6,3px 6px #fff6e6,7px 4px #fff6e6,9px 4px #fff6e6,7px 8px #fff6e6,8px 8px #ffffff,8px 10px #dea410,7px 10px #dea410,6px 10px #dea410,9px 9px #dea410,8px 9px #dea410,7px 9px #dea410,6px 9px #dea410,5px 9px #dea410,4px 9px #dea410,4px 8px #dea410,3px 8px #dea410,2px 8px #dea410,2px 7px #dea410,1px 7px #dea410,1px 6px #dea410,1px 5px #eec529,2px 6px #eec529,3px 7px #eec529,5px 8px #eec529,9px 8px #eec529,7px 6px #f6de41,8px 6px #f6de41,8px 7px #f6de41,7px 7px #f6de41,7px 5px #f6de41,6px 5px #f6de41,5px 5px #f6de41,6px 6px #f6de41,5px 4px #ffe65a,4px 5px #ffe65a,8px 5px #ffe65a,9px 6px #ffe65a,4px 6px #ffe65a,5px 6px #ffe65a,5px 7px #ffe65a,6px 7px #ffe65a,4px 7px #fff69c;
  }

  .candy.mighty {
      filter: hue-rotate(300deg) saturate(2.2);
  }
  .candy.smart {
      filter: hue-rotate(200deg) saturate(1) brightness(0.65) contrast(3);
  }
  .candy.tough {
      filter: hue-rotate(170deg) saturate(1) brightness(0.65) contrast(3.1);
  }
  .candy.courage {
      filter: hue-rotate(40deg) saturate(1) brightness(0.8) contrast(2);
  }
  .candy.quick {
      filter: hue-rotate(140deg) saturate(1) brightness(0.8) contrast(1.8);
  }


  @-webkit-keyframes boing {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
              transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
    }
  }

  @keyframes boing {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-90%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
              transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
    }
  }
  @-webkit-keyframes bounce {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
              transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
    }
  }
  @keyframes bounce {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
              transform: translateY(-50%) translateX(-50%) scaleX(1) scaleY(1);
    }
    50% {
      -webkit-transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
              transform: translateY(-60%) translateX(-50%) scaleX(0.95) scaleY(1.03);
    }
  }
  @-webkit-keyframes float {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    50% {
      -webkit-transform: translateY(-57%) translateX(-50%);
              transform: translateY(-57%) translateX(-50%);
    }
  }
  @keyframes float {
    0%,100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    50% {
      -webkit-transform: translateY(-57%) translateX(-50%);
              transform: translateY(-57%) translateX(-50%);
    }
  }
  body, html {
    min-height: 100%;
    text-align: center;
  }

  h1 {
    display: inline-block;
    font-size: 60px;
    margin: 10px;
    color: #805cff;
    font-weight: 900;
  }

  body {
    color: black;
    font-family: "Heebo", sans-serif;
/*
    background: red;
    background: linear-gradient(45deg, #d2ffde, #ceefff, #ded1ff);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
*/  }

.no-connection {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    display: table-cell;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    vertical-align: middle;
}

.browser-connected {
    display: block !important;
}

    /* transitions stuffs */
    .switchSlow-move {
        transition: transform 2s;
    }

    .switchMedium-move {
        transition: transform 1s;
    }

    .switchFast-move {
        transition: transform 0.5s;
    }
