<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Badges</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./assets/css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139026483-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139026483-5');
</script>
</head>

<body>
<div id="badges" style="display: none" :class="{ 'browser-connected' : true }">
    <div class="badges">
        <div v-for="badge in badges" :class="{ 'badge__slot': true, 'badge__slot--inactive': !badge.active }">
            <img :src="badge.img" :alt="badge.label">
        </div>
    </div>
    <div class="no-connection" v-if="!connected">
        <p>Waiting for successful connection to Pokélink...</p>
        <p>Attempting to connect on port {{settings.port}}</p>
    </div>
</div>

<script src="../../assets/js/events.js"></script>
<script src="../../assets/libs/collect.min.js"></script>
<script src="../../assets/libs/deepmerge.js"></script>
<script src="../../assets/libs/color-hash.js"></script>

<script src="../../assets/data/badges.js"></script>

<script src="../../clientSettings.js"></script>
<script src="../../assets/js/defaultSettings.js"></script>
<script src="../../themes/default/assets/js/themeSettings.js"></script>
<script src="../../assets/js/client.js"></script>
<script src="./assets/js/badges.js"></script>

</body>
</html>
