@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* @font-face{font-family:RifficFree;src:local("RifficFree"),url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap")} */
@font-face{font-family:RifficFree;src:local("RifficFree"),url("../RifficFree-Bold.ttf")}

* {
  font-family: "RifficFree";
  /* font-family: 'Noto Sans', sans-serif; */
}
.pokes {
/* margin-top: 110px; */
}

.browser-connected {
  display: block !important;
}

.badges {}
    .badge__slot {
        display: block;
        float: left;
    }

    .badge__slot img {
        width: 100px;
    }
    .badge__slot--inactive img {
        -webkit-filter: grayscale(100%) brightness(0);
        filter: grayscale(100%) brightness(0);
        opacity: 0.6;
    }

.pokemon__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left:25px;
}

.darkMode {
  color: #fff !important;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  flex-direction: column;
  transition: all 0.3s;
  transition-delay: 0.9s;
  width: 200px;
  opacity: 0;
}

.pokemon.loaded {
  opacity: 1;
}

.pokemon.staggered:nth-child(2) {
  position: relative;
  top: 170px;
  left: -100px;
}
.pokemon.staggered:nth-child(3) {
  position: relative;
  top: 0px;
  left: -200px;
}
.pokemon.staggered:nth-child(3) {
  position: relative;
  top: 0px;
  left: -200px;
}
.pokemon.staggered:nth-child(4) {
  position: relative;
  top: 170px;
  left: -300px;
}
.pokemon.staggered:nth-child(5) {
  position: relative;
  top: 0px;
  left: -400px;
}
.pokemon.staggered:nth-child(6) {
  position: relative;
  top: 170px;
  left: -500px;
}

.pokemon.staggered:nth-child(n+7) {
  visibility: hidden;
}
.pokemon.isDead {
  opacity: 0.3;
}
.pokemon.isEmpty {
  opacity: 0.5;
}

.pokemon svg path.slot__border {
}

.pokemon svg path.slot__border {
  transition: all 0.9s;
}

.pokemon svg.outerHPBar circle.hpBar {
  stroke: lime;
  z-index: 2;
}
.pokemon svg.outerHPBar circle.low {
  stroke: #ffcc00;
}
.pokemon svg.outerHPBar circle.critical {
  stroke: #d20000;
}

.pokemon .pokemon__details {
  z-index:5;
  position: absolute;
  bottom: 40px;
}

.pokemon .pokemon__image {
  z-index: 5;
  display: flex;
  align-items: bottom;
  justify-content: center;
  top: -249px;
  position: relative;
  left: -25px;
  clip-path: url(#hexagon);
  align-content: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}

svg.slot__border-wrapper {
  position: absolute;
  top: 0;
  left: -22px;
  z-index: 20;
}

.pokemon .pokemon__image .sprite {
  /* max-height: calc(200px * 0.8); */
  height: calc(200px * 0.8);
  position: absolute;
  bottom: 0;
}

@keyframes takeDamage {
  0% {
    -webkit-filter: none;
    filter: none;
  }
  50% {
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  100% {
    -webkit-filter: none;
    filter: none;
  }
}

@keyframes poisoned {
  0% {
    -webkit-filter: none;
    filter: none;
  }
  50% {
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-106deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-106deg) saturate(600%) contrast(0.8);
  }
  100% {
    -webkit-filter: none;
    filter: none;
  }
}

@keyframes shake {
  10%, 90% {
    transform: scale(2) translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: scale(2) translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: scale(2) translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: scale(2) translate3d(4px, 0, 0);
  }
}


.sleeping {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -50px;
  left: 94%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}

.sleeping span {
  font-family: "RifficFree";
  color: #d4d4d4;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 23pt;
  opacity: 0;
  -moz-animation: sleep 9s infinite linear;
  -webkit-animation: sleep 9s infinite linear;
  animation: sleep 9s infinite linear;
}
.sleeping span:nth-child(2n) {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.sleeping span:nth-child(3n) {
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

@-webkit-keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
@-moz-keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
@-ms-keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}
@keyframes sleep {
  0% {
    -moz-transform: translate(0, 0) scale(0.3);
    -ms-transform: translate(0, 0) scale(0.3);
    -webkit-transform: translate(0, 0) scale(0.3);
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  50% {
    -moz-transform: translate(90%, -50%) scale(0.65);
    -ms-transform: translate(90%, -50%) scale(0.65);
    -webkit-transform: translate(90%, -50%) scale(0.65);
    transform: translate(90%, -50%) scale(0.65);
  }
  75% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(180%, -100%) scale(1);
    -ms-transform: translate(180%, -100%) scale(1);
    -webkit-transform: translate(180%, -100%) scale(1);
    transform: translate(180%, -100%) scale(1);
    opacity: 0;
  }
}

/* transitions stuffs */
.switchSlow-move {
  transition: transform 2s;
}

.switchMedium-move {
  transition: transform 1s;
}

.switchFast-move {
  transition: transform 0.5s;
}